#first-page{
    display: block;
}
#first-question-page{
    display: none;
    margin-bottom: 50px;
}
#second-question-page{
    display: none;
    margin-bottom: 50px;
}
#third-question-page{
    display: none;
    margin-bottom: 50px;
}
#fourth-question-page{
    display: none;
    margin-bottom: 50px;
}
#fifth-question-page{
    display: none;
    margin-bottom: 50px;
}
#high-scores-page{
    display:none;
}
#initials-submission-area{
    margin-top: 80px;
}
#high-score-display-box{
    height: 300px;
}
#timer{
    float: right;
}
footer{
    font-size: .5em;
    float: bottom;
}